.btn-warning{
  width: 150px;
  height: 50px;
}
.btn-info{
  width: 150px;
  height: 50px;
}
.top{
  margin-top: 10px;
}
hr{
  width: 90%;
}
h2{
  text-align: center;
}
button{
  background-color: black;
  color: #fff;
}
